extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em Aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a neque a lectus semper consequat eget sit amet nisi. Phasellus at bibendum est. In ultricies ultricies tempor. Suspendisse congue nisl dapibus, dictum erat id, sagittis lectus. Praesent quis dui vitae sapien tempor ullamcorper. Donec at massa quis diam dignissim auctor vitae id nibh. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet consectetur quam condimentum faucibus. Integer porttitor ultricies lobortis. Aliquam ornare eleifend tempor. Aenean commodo sodales erat sit amet porttitor. Suspendisse dui velit, scelerisque at elit eget, convallis semper felis. Mauris laoreet metus orci, ut faucibus libero .

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen sobre nosotros",class="img-fluid")
        include ./layout/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    h3 5% de descuento
                    p.titulo Viaje a Canada
                    p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                    p.precio $2,500 USD 
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales