extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre Nosotros",class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote ipsum dolor sit amet consectetur adipiscing elit dui, vestibulum nulla semper sem penatibus id imperdiet, cum velit curabitur nullam lacus mus sagittis. Commodo dictumst a suscipit facilisis class aliquet cursus magna purus, aptent placerat lobortis massa ligula elementum penatibus habitant habitasse, condimentum posuere litora semper hac nullam neque morbi. 

                p taciti tortor phasellus tristique molestie dui potenti scelerisque, inceptos condimentum habitant nascetur euismod nunc magnis cubilia, mus pulvinar aliquam enim proin ligula suspendisse. Sociosqu ad nibh elementum senectus magna sem eu nascetur

                p praesent enim vitae nascetur commodo purus sapien sagittis, lacus nullam proin cum id rutrum malesuada, gravida vestibulum erat ad per ac pulvinar. Sem nec et fusce maecenas magnis conubia cubilia sociosqu, dictum placerat mattis tristique fames nullam habitasse cum, cras pharetra mollis nunc nostra sagittis dapibus. , velit donec magna convallis viverra massa risus quam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono Seguridad" ,class="img-fluid mb-4")
                    h2.mb-4 Seguridad

                    p em nec et fusce maecenas magnis conubia cubilia sociosqu, dictum placerat mattis tristique fames nullam habitasse cum, cras pharetra mollis nunc nostra sagittis dapibus. , velit donec magna convallis viverra massa risus quam.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono Destinos" ,class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    
                    p em nec et fusce maecenas magnis conubia cubilia sociosqu, dictum placerat mattis tristique fames nullam habitasse cum, cras pharetra mollis nunc nostra sagittis dapibus. , velit donec magna convallis viverra massa risus quam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono Seguridad" ,class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    
                    p em nec et fusce maecenas magnis conubia cubilia sociosqu, dictum placerat mattis tristique fames nullam habitasse cum, cras pharetra mollis nunc nostra sagittis dapibus. , velit donec magna convallis viverra massa risus quam.
                