footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center-justify-md-start
                a(href="/nosotros").px-1 Nosotros
                a(href="/viajes").px-1 Viajes 
                a(href="/testimoniales").px-1 Testimoniales
        .col
            p.copyright.text-center-text-md-right
                Todos los derechos reservados 
                span=year